{% extends 'base.html' %}

{% load humanize %}

{% block content %}

<div class="card mx-auto" style="width: 76rem;">
    <div class="card-body">
        <h5 class="card-title mb-3">Manage Jobs</h5>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Job title</th>
                    <th scope="col">Location</th>
                    <th scope="col">Salary (NGN)</th>
                    <th scope="col">No of Applicants</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>

            <tbody>

                {% for job in jobs %}

                <tr>
                    <td>{{ job.title }}</td>
                    <td>{{ job.city }}, {{ job.state }}</td>
                    <td>{{ job.salary|intcomma }}</td>
                    <td>{{ job.applyjob_set.all.count }} {% if job.applyjob_set.all.count == 1 %} <a href="{% url 'all-applicants' job.pk %}"><small>View all</small></a> {% endif %} </td>
                    {% if job.is_available %}
                    <td><span class="badge bg-success">Open</span></td>
                    {% else %}
                    <td><span class="badge bg-danger">Closed</span></td>
                    {% endif %} 
                    <td>
                        <a href="{% url 'update-job' job.pk %}">Update Job</a>
                    </td>
                </tr>

                {% endfor %}
        </table>

    </div>

</div>

{% endblock content %}